<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarCliente</servlet-name>
        <servlet-class>controller.GerenciarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <servlet-class>controller.GerenciarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuario</servlet-name>
        <servlet-class>controller.GerenciarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarTipoServico</servlet-name>
        <servlet-class>controller.GerenciarTipoServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarOrcamento</servlet-name>
        <servlet-class>controller.GerenciarOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLoogin</servlet-name>
        <servlet-class>controller.GerenciarLoogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenu</servlet-name>
        <servlet-class>controller.GerenciarMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPagamento</servlet-name>
        <servlet-class>controller.GerenciarPagamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarParcela</servlet-name>
        <servlet-class>controller.GerenciarParcela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarParcelamento</servlet-name>
        <servlet-class>controller.GerenciarParcelamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarPerfil</servlet-name>
        <servlet-class>controller.GerenciarPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarServico</servlet-name>
        <servlet-class>controller.GerenciarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <servlet-class>controller.GerenciarMenuPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarServicoOrcamento</servlet-name>
        <servlet-class>controller.GerenciarServicoOrcamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarLogin</servlet-name>
        <servlet-class>controller.GerenciarLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarCliente</servlet-name>
        <url-pattern>/gerenciar_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarFuncionario</servlet-name>
        <url-pattern>/gerenciar_funcionario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuario</servlet-name>
        <url-pattern>/gerenciar_usuario.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarTipoServico</servlet-name>
        <url-pattern>/gerenciar_tipo_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarOrcamento</servlet-name>
        <url-pattern>/gerenciar_orcamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLoogin</servlet-name>
        <url-pattern>/gerenciar_loogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenu</servlet-name>
        <url-pattern>/gerenciar_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPagamento</servlet-name>
        <url-pattern>/gerenciar_pagamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarParcela</servlet-name>
        <url-pattern>/gerenciar_parcela.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarParcelamento</servlet-name>
        <url-pattern>/gerenciar_parcelamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarPerfil</servlet-name>
        <url-pattern>/gerenciar_perfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarServico</servlet-name>
        <url-pattern>/gerenciar_servico.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarMenuPerfil</servlet-name>
        <url-pattern>/gerenciar_enu_erfil.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarServicoOrcamento</servlet-name>
        <url-pattern>/gerenciar_servico_orcamento.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarLogin</servlet-name>
        <url-pattern>/gerenciar_login.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
